.header-info {
    text-align: justify;
}

#mobile-menu ul.submenu li a {
    text-align: right;
}

.header__menu ul li ul.submenu {
    right: -30%;
}

.mean-container .mean-nav ul li a {
    text-align: right !important;
}

.mean-container .mean-nav ul li a.mean-expand {
    left: 0;
    right: auto !important;
}

.header-social-icons {
    padding-left: 10px;

    padding-right: 0 !important;
}

.header-cta-text h5,
.header-cta-text h6{
    text-align: right;
}

.search-wrap .main-search-input{
    text-align: right;
}

.header-cta-icon{
    margin-left: 20px;
    margin-right: 0;
}

.section_settings_conction {
    width: 100%;
    height: 60.25px;
    display: flex;
    justify-content: space-around;
}

.hero-slider-caption,
.hero-slider-btn {
    text-align: right;
}

.hero-slider-btn {
    direction: rtl;
}

.single-slider {
    direction: rtl;
}

.btn-icon span {
    right: 5px;
    left: auto;
}

.btn-icon {
    padding-left: 50px !important;
    padding-right: 84px !important;
}

.play-btn {
    padding-right: 3px !important;
    margin-right: 27px !important;
}

.mean-container a.meanmenu-reveal {
    left: 0px !important;
    right: auto !important;
}

.medical-icon-brand-2 {
    left: -90px;
    right: auto !important;
}

.about-author {
    direction: ltr;
    justify-content: flex-start;
}

.justify_content_end {
    justify-content: flex-end;
}

.team-area .section-title {
    text-align: right;
}

.team-area .btn-icon {
    padding-left: 84px !important;
}

.fact-area .section-text {
    text-align: right;
}

.fact-area .section-button {
    text-align: right;
}

.cta-satisfied {
    padding-right: 129px;
    padding-left: 0 !important;
    text-align: right;
}

.single-satisfied h1 {
    margin-left: 20px;
    margin-right: 0 !important;
    float: right;
}

.pricing-area .section-title {
    text-align: right;
}

.pricing-content h1,
.pricing-content p {
    text-align: right;
}

.row_col {
    margin-right: 8.333333%;
    margin-left: 0 !important;
}

.latest-news-area .section-title {
    text-align: right;
}

.latest-news-area .section-button {
    text-align: left !important;
}

.latest-news-content {
    text-align: right;
}

.meta-date {
    margin-left: 29px;
    margin-right: 0 !important;
}

.meta-date p {
    margin-right: 5%;
}

.emmergency-call {
    text-align: right;
}

.f-right {
    float: right;
}

.footer-contact-content {
    text-align: right;
}

.footer-emailing ul li {
    text-align: right;
}

.row_foo_col {
    margin-right: 8.333333%;

    margin-left: 0 !important;
}

.footer-title h3,
.footer-menu ul li {
    text-align: right;
}

.footer-emailing svg {
    margin-left: 3%;
    margin-right: 0 !important;
}


#scrollUp {
    left: 40px;

    right: auto;
}

.height_not .slick-slider {
    direction: ltr;
}

.height_not .slick-slide {
    direction: rtl;
}

.search-form {
    text-align: right;
}

.appoint-ment-icon {
    margin-left: 40px;
    margin-right: 0 !important;
}

.slider_not form.appointment-form-2 {
    text-align: right;
}

.nice-select.postform {
    text-align: right !important;
    padding-left: 30px !important;
    padding-right: 0;
}

.nice-select.postform::after {
    left: 5px;
    right: auto !important;
}

.slider_not .nice-select.postform .list .option {
    text-align: right;
}

.section_one_simple .feature-box {
    text-align: right;
}

.section_one_simple .about-right-side {
    text-align: right;
}

.section_one_simple .about-text p {
    padding: 0%;
}

.section_one_simple .about-text-list ul li svg {
    margin-left: 5px;
    margin-right: 0;
}

.section_two_simple .half_section {
    text-align: right;
}

.section_two_simple .about-text p {
    padding: 0;
}

.section_two_simple .testi-quato-icon.about-icon-white {
    float: left;
    margin-left: -9%;
    margin-right: 0;
}

.section_four_simple .appoinment-box-content {
    text-align: right;
}

.section_four_simple .option {
    text-align: right;
    padding-right: 15px;
}

.section_five_simple .service-box-2 {
    text-align: right;
}

.section_five_simple .service-content-2 a.service-link svg {
    transform: rotate(180deg);
}

.section_five_simple .service-big-number {
    left: 19px;

    right: auto;
}

.section_five_simple .service-content-2 h3 a::after,
.section_five_simple .service-content-2 h3 a::before {
    right: 0;
    left: auto;
}

.section_six_simple .testi-content-2,
.section_six_simple .testi-author-desination-2{
    text-align: right;
}

.section_six_simple .testi-content-2 p{
    padding: 0;
}

.section_seven_simple .news-letter-box{
    text-align: right;
}

.section_seven_simple .subscribe-form form button{
    left: 10px;

    right: auto;
}

.section_eight_simple .team-author-info{
    text-align: right;
}

.bbb_viewed_title_container{
    direction: rtl;
}

.bbb_viewed_nav svg{
    transform: rotate(180deg);
}

.section_nine_simple .latest-news-box-2 .latest-news-content{
    text-align: right;
}

.section_nine_simple .news-meta span{
    margin-right: 0;
}

.section_about3 .separator{
    text-align: right;
}

.medical-icon-brand{
    float: right;
    margin-right: 47px;
    margin-left: 51px;
}

.medical-icon-brand::before{
    right: -28px;
    left: auto;
}

.medical-icon-brand::after{
    right: -55px;
    left: auto;
}

.section_servicies3 .section-title {
    text-align: right;
}

.section_membership3 .single-membership-box ,
.section_membership3 .review-box{
    text-align: right;
}

.faq-back-shape{
    right: -75px;

    left: auto;
}

.section_faq3 .about-title,
.section_faq3 .faq-right-box .btn-link,
.section_faq3 .faq-right-box .card-body p{
    text-align: right;
}

.section_faq3 .faq-right-box .btn-link::before{
    left: 43px;

    right: auto;
}

.section_pricing3 .price-box-flat{
    text-align: right;
}

.hire-left-img{
    right: 0;
    left: auto;
}

.go_to_dir_rtl {
    margin-right: 50%;
    text-align: right;
}

.hire-right-img{
    left: 0;
    right: auto;
}

.go_to_dir_ltr{
    text-align: right;
}

.section_news3 .news-meta span{
    margin-left: 15px;
    margin-right: 0;
}